[submodule ".registry"]
	path = .registry
	url = https://github.com/ar-puuk/ar-puuk.r-universe.dev
	branch = HEAD
[submodule "CTPPr"]
	path = CTPPr
	url = https://github.com/Westat-Transportation/CTPPr
[submodule "DBI"]
	path = DBI
	url = https://github.com/r-dbi/DBI
[submodule "DT"]
	path = DT
	url = https://github.com/rstudio/DT
[submodule "GWalkR"]
	path = GWalkR
	url = https://github.com/Kanaries/GWalkR
[submodule "RArcInfo"]
	path = RArcInfo
	url = https://github.com/cran/RArcInfo
[submodule "RColorBrewer"]
	path = RColorBrewer
	url = https://github.com/cran/RColorBrewer
[submodule "RPostgres"]
	path = RPostgres
	url = https://github.com/r-dbi/RPostgres
[submodule "RSQLite"]
	path = RSQLite
	url = https://github.com/r-dbi/RSQLite
[submodule "RSocrata"]
	path = RSocrata
	url = https://github.com/Chicago/RSocrata
[submodule "annotater"]
	path = annotater
	url = https://github.com/luisDVA/annotater
[submodule "arcgis"]
	path = arcgis
	url = https://github.com/R-ArcGIS/arcgis
[submodule "archive"]
	path = archive
	url = https://github.com/r-lib/archive
[submodule "areal"]
	path = areal
	url = https://github.com/chris-prener/areal
[submodule "bayestestR"]
	path = bayestestR
	url = https://github.com/easystats/bayestestR
	registered = false
[submodule "bbplot"]
	path = bbplot
	url = https://github.com/bbc/bbplot
[submodule "cartogram"]
	path = cartogram
	url = https://github.com/sjewo/cartogram
[submodule "censusapi"]
	path = censusapi
	url = https://github.com/hrecht/censusapi
[submodule "collapse"]
	path = collapse
	url = https://github.com/SebKrantz/collapse
[submodule "cransays"]
	path = cransays
	url = https://github.com/lockedata/cransays
[submodule "curl"]
	path = curl
	url = https://github.com/jeroen/curl
[submodule "data.table"]
	path = data.table
	url = https://github.com/Rdatatable/data.table
[submodule "dataMaid"]
	path = dataMaid
	url = https://github.com/ekstroem/dataMaid
[submodule "dataReporter"]
	path = dataReporter
	url = https://github.com/ekstroem/dataReporter
[submodule "datapasta"]
	path = datapasta
	url = https://github.com/MilesMcBain/datapasta
[submodule "datawizard"]
	path = datawizard
	url = https://github.com/easystats/datawizard
	registered = false
[submodule "devtools"]
	path = devtools
	url = https://github.com/r-lib/devtools
[submodule "dlookr"]
	path = dlookr
	url = https://github.com/choonghyunryu/dlookr
[submodule "duckdb"]
	path = duckdb
	url = https://github.com/duckdb/duckdb-r
[submodule "duckplyr"]
	path = duckplyr
	url = https://github.com/duckdblabs/duckplyr
[submodule "esquisse"]
	path = esquisse
	url = https://github.com/dreamRs/esquisse
[submodule "extrafont"]
	path = extrafont
	url = https://github.com/wch/extrafont
[submodule "flextable"]
	path = flextable
	url = https://github.com/davidgohel/flextable
[submodule "foreign"]
	path = foreign
	url = https://github.com/cran/foreign
[submodule "formatR"]
	path = formatR
	url = https://github.com/yihui/formatR
[submodule "future"]
	path = future
	url = https://github.com/HenrikBengtsson/future
[submodule "ggThemeAssist"]
	path = ggThemeAssist
	url = https://github.com/calligross/ggthemeassist
[submodule "ggstatsplot"]
	path = ggstatsplot
	url = https://github.com/IndrajeetPatil/ggstatsplot
[submodule "ggthemes"]
	path = ggthemes
	url = https://github.com/jrnold/ggthemes
[submodule "glitter"]
	path = glitter
	url = https://github.com/lvaudor/glitter
[submodule "gridExtra"]
	path = gridExtra
	url = https://github.com/baptiste/gridextra
[submodule "gt"]
	path = gt
	url = https://github.com/rstudio/gt
[submodule "gtExtras"]
	path = gtExtras
	url = https://github.com/jthomasmock/gtExtras
[submodule "gtfsio"]
	path = gtfsio
	url = https://github.com/r-transit/gtfsio
[submodule "gtfsrouter"]
	path = gtfsrouter
	url = https://github.com/UrbanAnalyst/gtfsrouter
[submodule "gtfstools"]
	path = gtfstools
	url = https://github.com/ipeaGIT/gtfstools
[submodule "gtsummary"]
	path = gtsummary
	url = https://github.com/ddsjoberg/gtsummary
[submodule "hrbrthemes"]
	path = hrbrthemes
	url = https://github.com/hrbrmstr/hrbrthemes
[submodule "httr2"]
	path = httr2
	url = https://github.com/r-lib/httr2
[submodule "insight"]
	path = insight
	url = https://github.com/easystats/insight
	registered = false
[submodule "ipumsr"]
	path = ipumsr
	url = https://github.com/ipums/ipumsr
[submodule "janitor"]
	path = janitor
	url = https://github.com/sfirke/janitor
[submodule "jmv"]
	path = jmv
	url = https://github.com/jamovi/jmv
[submodule "jsonlite"]
	path = jsonlite
	url = https://github.com/jeroen/jsonlite
[submodule "lehdr"]
	path = lehdr
	url = https://github.com/jamgreen/lehdr
[submodule "magick"]
	path = magick
	url = https://github.com/ropensci/magick
[submodule "mapsf"]
	path = mapsf
	url = https://github.com/riatelab/mapsf
[submodule "mapview"]
	path = mapview
	url = https://github.com/r-spatial/mapview
[submodule "mschart"]
	path = mschart
	url = https://github.com/ardata-fr/mschart
[submodule "nanoparquet"]
	path = nanoparquet
	url = https://github.com/r-lib/nanoparquet
[submodule "ntdr"]
	path = ntdr
	url = https://github.com/vgXhc/ntdr
[submodule "numetricApi"]
	path = numetricApi
	url = https://github.com/RonGuymon/numetricAPI
[submodule "odbc"]
	path = odbc
	url = https://github.com/r-dbi/odbc
[submodule "officedown"]
	path = officedown
	url = https://github.com/davidgohel/officedown
[submodule "officer"]
	path = officer
	url = https://github.com/davidgohel/officer
[submodule "openrouteservice"]
	path = openrouteservice
	url = https://github.com/GIScience/openrouteservice-r
[submodule "openxlsx"]
	path = openxlsx
	url = https://github.com/ycphs/openxlsx
[submodule "openxlsx2"]
	path = openxlsx2
	url = https://github.com/JanMarvin/openxlsx2
[submodule "overturemapsr"]
	path = overturemapsr
	url = https://github.com/denironyx/overturemapsr
[submodule "pacman"]
	path = pacman
	url = https://github.com/trinker/pacman
[submodule "pak"]
	path = pak
	url = https://github.com/r-lib/pak
[submodule "paletteer"]
	path = paletteer
	url = https://github.com/EmilHvitfeldt/paletteer
[submodule "pandoc"]
	path = pandoc
	url = https://github.com/cderv/pandoc
[submodule "parameters"]
	path = parameters
	url = https://github.com/easystats/parameters
[submodule "patchwork"]
	path = patchwork
	url = https://github.com/thomasp85/patchwork
[submodule "pdftools"]
	path = pdftools
	url = https://github.com/ropensci/pdftools
[submodule "pillar"]
	path = pillar
	url = https://github.com/r-lib/pillar
	registered = false
[submodule "pkgcache"]
	path = pkgcache
	url = https://github.com/r-lib/pkgcache
	registered = false
[submodule "plotly"]
	path = plotly
	url = https://github.com/plotly/plotly
[submodule "polars"]
	path = polars
	url = https://github.com/pola-rs/r-polars
[submodule "polite"]
	path = polite
	url = https://github.com/dmi3kno/polite
[submodule "pukRhelpers"]
	path = pukRhelpers
	url = https://github.com/ar-puuk/pukRhelpers
[submodule "r5r"]
	path = r5r
	url = https://github.com/ipeaGIT/r5r
	subdir = r-package
[submodule "raybevel"]
	path = raybevel
	url = https://github.com/tylermorganwall/raybevel
	registered = false
[submodule "rayimage"]
	path = rayimage
	url = https://github.com/tylermorganwall/rayimage
	registered = false
[submodule "rayrender"]
	path = rayrender
	url = https://github.com/tylermorganwall/rayrender
	registered = false
[submodule "rayshader"]
	path = rayshader
	url = https://github.com/tylermorganwall/rayshader
[submodule "rayvertex"]
	path = rayvertex
	url = https://github.com/tylermorganwall/rayvertex
	registered = false
[submodule "remotes"]
	path = remotes
	url = https://github.com/r-lib/remotes
[submodule "rgdal"]
	path = rgdal
	url = https://github.com/cran/rgdal
[submodule "rgeopi"]
	path = rgeopi
	url = https://github.com/ModernMobilityPartners/rgeopi
[submodule "rgl"]
	path = rgl
	url = https://github.com/dmurdoch/rgl
	registered = false
[submodule "roblog"]
	path = roblog
	url = https://github.com/ropenscilabs/roblog
[submodule "rsgeo"]
	path = rsgeo
	url = https://github.com/JosiahParry/rsgeo
	registered = false
[submodule "rvg"]
	path = rvg
	url = https://github.com/davidgohel/rvg
[submodule "scales"]
	path = scales
	url = https://github.com/r-lib/scales
[submodule "sf"]
	path = sf
	url = https://github.com/r-spatial/sf
[submodule "sfdep"]
	path = sfdep
	url = https://github.com/josiahparry/sfdep
[submodule "sfheaders"]
	path = sfheaders
	url = https://github.com/dcooley/sfheaders
[submodule "showtext"]
	path = showtext
	url = https://github.com/yixuan/showtext
[submodule "sjPlot"]
	path = sjPlot
	url = https://github.com/strengejacke/sjPlot
[submodule "skimr"]
	path = skimr
	url = https://github.com/ropensci/skimr
[submodule "spatstat"]
	path = spatstat
	url = https://github.com/spatstat/spatstat
[submodule "stargazer"]
	path = stargazer
	url = https://github.com/cran/stargazer
[submodule "statsExpressions"]
	path = statsExpressions
	url = https://github.com/IndrajeetPatil/statsExpressions
	registered = false
[submodule "stplanr"]
	path = stplanr
	url = https://github.com/ropensci/stplanr
[submodule "stringdist"]
	path = stringdist
	url = https://github.com/markvanderloo/stringdist
	subdir = pkg
[submodule "styler"]
	path = styler
	url = https://github.com/r-lib/styler
[submodule "surveyvisualize"]
	path = surveyvisualize
	url = https://github.com/Westat-Transportation/surveyvisualize
	registered = false
[submodule "testthat"]
	path = testthat
	url = https://github.com/r-lib/testthat
	registered = false
[submodule "tictoc"]
	path = tictoc
	url = https://github.com/jabiru/tictoc
[submodule "tidycensus"]
	path = tidycensus
	url = https://github.com/walkerke/tidycensus
[submodule "tidylodes"]
	path = tidylodes
	url = https://github.com/ar-puuk/tidylodes
[submodule "tidymodels"]
	path = tidymodels
	url = https://github.com/tidymodels/tidymodels
[submodule "tidyqwi"]
	path = tidyqwi
	url = https://github.com/medewitt/tidyqwi
[submodule "tidyselect"]
	path = tidyselect
	url = https://github.com/r-lib/tidyselect
[submodule "tidytable"]
	path = tidytable
	url = https://github.com/markfairbanks/tidytable
[submodule "tidytransit"]
	path = tidytransit
	url = https://github.com/r-transit/tidytransit
[submodule "tidyverse"]
	path = tidyverse
	url = https://github.com/tidyverse/tidyverse
[submodule "tigris"]
	path = tigris
	url = https://github.com/walkerke/tigris
[submodule "tinytex"]
	path = tinytex
	url = https://github.com/rstudio/tinytex
[submodule "tmap"]
	path = tmap
	url = https://github.com/r-tmap/tmap
[submodule "tmaptools"]
	path = tmaptools
	url = https://github.com/r-tmap/tmaptools
[submodule "webfakes"]
	path = webfakes
	url = https://github.com/r-lib/webfakes
	registered = false
[submodule "zip"]
	path = zip
	url = https://github.com/r-lib/zip
